@model IEnumerable<EShop.Core.OrderLine>


<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Sifariş xətləri</h3>
</div>
<div class="modal-body">
    <div class="box-content">
        <table class="table">
            <thead>
                <tr>
                    <th>Məhsulun adı</th>
                    <th>Nömrə</th>
                    <th>Kateqoriya</th>
                    <th>Qitməti</th>
                    <th>Sayı</th>
                    <th>Məbləğ</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Muhammad Usman</td>
                    <td>NUM345</td>
                    <td class="center">Member</td>
                    <td class="center">120 AZN</td>
                    <td class="center">
                        <span class="label label-success">2</span>
                    </td>
                    <td>240 AZN
                    </td>
                </tr>
                <tr>
                    <td>Muhammad Usman</td>
                    <td>NUM345</td>
                    <td class="center">Member</td>
                    <td class="center">120 AZN</td>
                    <td class="center">
                        <span class="label label-success">2</span>
                    </td>
                    <td>240 AZN
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
<div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Bağla</a>
</div>

