@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Login</title>

    <!-- The styles -->
    @Styles.Render("~/AdminContent/css")
    <style type="text/css">
        body {
            padding-bottom: 40px;
        }

        .sidebar-nav {
            padding: 9px 0;
        }
    </style>
    @* <link href="~/Content/admin/bootstrap-responsive.css" rel="stylesheet" />
    <link href="~/Content/admin/charisma-app.css" rel="stylesheet" />
    <link href="~/Content/admin/chosen.css" rel="stylesheet" />
    <link href="~/Content/admin/colorbox.css" rel="stylesheet" />
    <link href="~/Content/admin/elfinder.min.css" rel="stylesheet" />
    <link href="~/Content/admin/elfinder.theme.css" rel="stylesheet" />
    <link href="~/Content/admin/fullcalendar.css" rel="stylesheet" />
    <link href="~/Content/admin/fullcalendar.print.css" rel="stylesheet" />
    <link href="~/Content/admin/jquery-ui-1.8.21.custom.css" rel="stylesheet" />
    <link href="~/Content/admin/jquery.cleditor.css" rel="stylesheet" />
    <link href="~/Content/admin/jquery.iphone.toggle.css" rel="stylesheet" />
    <link href="~/Content/admin/jquery.noty.css" rel="stylesheet" />
    <link href="~/Content/admin/noty_theme_default.css" rel="stylesheet" />
    <link href="~/Content/admin/opa-icons.css" rel="stylesheet" />
    <link href="~/Content/admin/uniform.default.css" rel="stylesheet" />
    <link href="~/Content/admin/uploadify.css" rel="stylesheet" />*@


    <!-- The fav icon -->
    <link rel="shortcut icon" href="img/favicon.ico">
</head>
<body>
    <div class="container-fluid">
        <div class="row-fluid">

            <div class="row-fluid">
                <div class="span12 center login-header">
                    <h2>Admin panel</h2>
                </div>
                <!--/span-->
            </div>
            <!--/row-->

            <div class="row-fluid">
                <div class="well span5 center login-box">
                    <div class="alert alert-info">
                        Zəhmət olmazsa istifadəçi adı və şifrə ilə daxil olun.
                    </div>
                    @using (Html.BeginForm("Index", "Admin", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        <fieldset>
                            <div class="input-prepend" title="İstifadəçi adı" data-rel="tooltip">
                                <span class="add-on"><i class="icon-user"></i></span>
                                <input autofocus class="input-large span10" name="username" id="username" type="text" value="" />
                            </div>
                            <div class="clearfix"></div>

                            <div class="input-prepend" title="şifrə" data-rel="tooltip">
                                <span class="add-on"><i class="icon-lock"></i></span>
                                <input class="input-large span10" name="password" id="password" type="password" value="" />
                            </div>
                            <div class="clearfix"></div>

                            @*                            <div class="input-prepend">
                                <label class="remember" for="remember">
                                    <input type="checkbox" id="remember" />Remember me</label>
                            </div>*@
                            <div class="clearfix"></div>

                            <p class="center span5">
                                <button type="submit" class="btn btn-primary">Daxil olun</button>
                            </p>
                        </fieldset>
                    }
                </div>
                <!--/span-->
            </div>
            <!--/row-->
        </div>
        <!--/fluid-row-->

    </div>
    <!--/.fluid-container-->

    <!-- jQuery -->
    <script src="~/Scripts/libryjs/jquery-1.7.2.min.js"></script>
    <!-- jQuery UI -->
    <script src="~/Scripts/libryjs/jquery-ui-1.8.21.custom.min.js"></script>
    <!-- transition / effect library -->
    <script src="~/Scripts/libryjs/bootstrap-transition.js"></script>
    <!-- alert enhancer library -->
    <script src="~/Scripts/libryjs/bootstrap-alert.js"></script>
    <!-- modal / dialog library -->
    <script src="~/Scripts/libryjs/bootstrap-modal.js"></script>
    <!-- custom dropdown library -->
    <script src="~/Scripts/libryjs/bootstrap-dropdown.js"></script>
    <!-- scrolspy library -->
    <script src="~/Scripts/libryjs/bootstrap-scrollspy.js"></script>
    <!-- library for creating tabs -->
    <script src="~/Scripts/libryjs/bootstrap-tab.js"></script>
    <!-- library for advanced tooltip -->
    <script src="~/Scripts/libryjs/bootstrap-tooltip.js"></script>
    <!-- popover effect library -->
    <script src="~/Scripts/libryjs/bootstrap-popover.js"></script>
    <!-- button enhancer library -->
    <script src="~/Scripts/libryjs/bootstrap-button.js"></script>
    <!-- accordion library (optional, not used in demo) -->
    <script src="~/Scripts/libryjs/bootstrap-collapse.js"></script>
    <!-- carousel slideshow library (optional, not used in demo) -->
    <script src="~/Scripts/libryjs/bootstrap-carousel.js"></script>
    <!-- autocomplete library -->
    <script src="~/Scripts/libryjs/bootstrap-typeahead.js"></script>
    <!-- tour library -->
    <script src="~/Scripts/libryjs/bootstrap-tour.js"></script>
    <!-- library for cookie management -->
    <script src="~/Scripts/libryjs/jquery.cookie.js"></script>
    <!-- calander plugin -->
    <script src='~/Scripts/libryjs/fullcalendar.min.js'></script>
    <!-- data table plugin -->
    <script src='~/Scripts/libryjs/jquery.dataTables.min.js'></script>

    <!-- chart libraries start -->
    <script src="~/Scripts/libryjs/excanvas.js"></script>
    <script src="~/Scripts/libryjs/jquery.flot.min.js"></script>
    <script src="~/Scripts/libryjs/jquery.flot.pie.min.js"></script>
    <script src="~/Scripts/libryjs/jquery.flot.stack.js"></script>
    <script src="~/Scripts/libryjs/jquery.flot.resize.min.js"></script>
    <!-- chart libraries end -->

    <!-- select or dropdown enhancer -->
    <script src="~/Scripts/libryjs/jquery.chosen.min.js"></script>
    <!-- checkbox, radio, and file input styler -->
    <script src="~/Scripts/libryjs/jquery.uniform.min.js"></script>
    <!-- plugin for gallery image view -->
    <script src="~/Scripts/libryjs/jquery.colorbox.min.js"></script>
    <!-- rich text editor library -->
    <script src="~/Scripts/libryjs/jquery.cleditor.min.js"></script>
    <!-- notification plugin -->
    <script src="~/Scripts/libryjs/jquery.noty.js"></script>
    <!-- file manager library -->
    <script src="~/Scripts/libryjs/jquery.elfinder.min.js"></script>
    <!-- star rating plugin -->
    <script src="~/Scripts/libryjs/jquery.raty.min.js"></script>
    <!-- for iOS style toggle switch -->
    <script src="~/Scripts/libryjs/jquery.iphone.toggle.js"></script>
    <!-- autogrowing textarea plugin -->
    <script src="~/Scripts/libryjs/jquery.autogrow-textarea.js"></script>
    <!-- multiple file upload plugin -->
    <script src="~/Scripts/libryjs/jquery.uploadify-3.1.min.js"></script>
    <!-- history.js for cross-browser state change on ajax -->
    <script src="~/Scripts/libryjs/jquery.history.js"></script>
    <!-- application script for Charisma demo -->
    <script src="~/Scripts/libryjs/charisma.js"></script>
</body>
</html>
