@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header well" data-original-title>
            <h2><i class="icon-user"></i>İstifadəçilər</h2>
            <div class="box-icon">
                <a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
                <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
                <a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
            </div>
        </div>
        <div class="box-content">
            <table class="table table-striped table-bordered bootstrap-datatable datatable">
                <thead>
                    <tr>
                        <th>İstifadəçi adı</th>
                        <th>Qeydiyyat tarixi</th>
                        <th>Vəzifəsi</th>
                        <th>Statusu</th>
                        <th>Hadisələr</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>David R</td>
                        <td class="center">2012/01/01</td>
                        <td class="center">Member</td>
                        <td class="center">
                            <span class="label label-success">Active</span>
                        </td>
                        <td class="center">
                            <a href="#View" role="button" data-toggle="modal" id="ViewModal" class="btn btn-success">
                                <i class="icon-zoom-in icon-white"></i>
                                Göstər                                            
                            </a>
                            <a href="#Edit" role="button" data-toggle="modal" id="EditModal" class="btn btn-info">
                                <i class="icon-edit icon-white"></i>
                                Dəyiş                                            
                            </a>
                            <a class="btn btn-danger" href="#Delete" role="button" data-toggle="modal" id="DeleteModal">
                                <i class="icon-trash icon-white"></i>
                                Sil
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--/span-->

</div>
<!--/row-->

<div class="modal hide fade" id="View">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>İstifadəçinin məlumatları</h3>
    </div>
    <div class="modal-body">
        <a href="#">
            <img src="http://i.stack.imgur.com/Kf7hG.jpg?s=128&amp;g=1" alt="Elvin" class="dashboard-avatar"></a>
        <strong>Adı:</strong> <a href="#">Elvin
        </a>
        <br>
        <strong>Tarixi:</strong> 17/05/2012<br>
        <strong>Vəzifəsi</strong> Admin<br />
        <strong>Statusu:</strong> <span class="label label-success">Approved</span>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Bağla</a>
        <a href="#" class="btn btn-primary">Yadda saxla</a>
    </div>
</div>

<div class="modal hide fade" id="Edit">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>İstifadəçinin məlumatları</h3>
    </div>
    @using (Html.BeginForm("EditUser", "Admin", FormMethod.Post))
    {
        //Html.HiddenFor(user=>user.UserId)
        <div class="modal-body">
            <strong>Vəzifəsi</strong>
            <select>
                <option value="volvo">Administrator</option>
                <option value="saab">Simple</option>
            </select>
            <br />
            <strong>Statusu:</strong>
            <select>
                <option value="volvo">Aktiv</option>
                <option value="saab">Ban edilib</option>
                <option value="mercedes">Deactive</option>
            </select>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Bağla</a>
            <button class="btn btn-primary">Yadda saxla</button>
        </div>
    }
</div>

<div class="modal hide fade" id="Delete">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>İstifadəçinin məlumatları</h3>
    </div>
    @using (Html.BeginForm("DeleteUser", "Admin", FormMethod.Post))
    {
        //Html.HiddenFor(user=>user.UserId)
        <div class="modal-body">
            <strong>Bu istifadəçini silmək istədiyinizdən əminsiniz...?</strong>

        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Bağla</a>
            <button class="btn btn-danger"><i class="icon-trash icon-white"></i>Sil</button>
        </div>
    }
</div>
